<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Company</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% bdmembers.forEach(function(b) { %>
      <tr>
        <td><%= b.name %></td>
        <td><%= b.title %></td>
        <td><%= b.company %></td>
        <td><form action="/nonprofits/<%= b.id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE</button></form></td>
        <td>
          <a href="/nonprofits/<%= b.id %>">Details</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>