<%- include('../partials/header') %>

<section id="bdmember-page">
    <div>Name: </div>
    <div><%= bdmember.name %></div>
    <div>Title </div>
    <div><%= bdmember.title %></div>
    <div>Company: </div>
    <div><%= bdmember.company %></div>
</section>

<%- include('../partials/footer') %>