<br>

<!DOCTYPE html>
<html>
  <div id="allpage">  
  </div>
<head>
  <title>Nonprofit Tracker</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<table id="list">
  <thead>
    <tr>
      <th >Nonprofit</th>
      <th>Location</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% nonprofits.forEach(function(n) { %>
      <tr>
        <td><%= n.name %></td>
        <td><%= n.location %></td>
        <td><%= n.category %></td>
        <td><form action="/nonprofits/<%= n.id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE</button></form></td>
        <td>
          <a href="/nonprofits/<%= n._id %>">Details</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
