<%- include('../partials/header') %>

<section id="nonprofit-page">
    <div>Name: <%= nonprofit.name %></div>
    <div>Contact: <%= nonprofit.contact %></div>
    <div>Email: <%= nonprofit.email %></div>
    <div>Address: <%= nonprofit.address %></div>
    <div>City: <%= nonprofit.city %></div>
    <div>Location: <%= nonprofit.location %></div>
    <div>Zip: <%= nonprofit.zip %></div>
    <div>Phone: <%= nonprofit.category %></div>
    <div>Guidestar: <%= nonprofit.guidestar %></div>
    <div>Websitw: <%= nonprofit.website %></div>
    <div>Mission Statement: <%= nonprofit.missionStatement %></div>
    <div>About Us: <%= nonprofit.aboutUs %></div>
</section>

<%- include('../partials/footer') %>