
<%- include('../partials/header') %>
<br>
<br>
<img src="<%= nonprofit.logo %>">
<% if (user) { %>
  <a href='/bdmembers/nonprofits/<%= nonprofit.id %>/bdmembers/new'>ADD BOARD MEMBERS</a>
  <a href='/reviews/nonprofits/<%= nonprofit.id %>/reviews/new'>ADD REVIEWS</a>
<% } %>
<br>
<% console.log(user) %>
<br>
<div id="npdata">
<form action = "/nonprofits/<%=nonprofit._id%>" method = "POST">
<section id="nonprofit-page">
    <div><%= nonprofit.name %>
        <br><%= nonprofit.contact %>, <%= nonprofit.title %>
        <br><%= nonprofit.email %>
        <br><%= nonprofit.address %>
        <%= nonprofit.city %>, <%= nonprofit.location %> <%= nonprofit.zip %>
        <br><%= nonprofit.phone %> | Website: <%= nonprofit.website %>
        <br>Category: <%= nonprofit.category %> | Guidestar: <%= nonprofit.guidestar %>
    </div>
    <div id="npmission">
        Mission Statement: <%= nonprofit.missionStatement %>
        <br><br>About Us: <%= nonprofit.aboutUs %>
      </section>
    </div>
</form>
</div>
<div id="npmembers">
<br>
  <label>BOARD MEMBERS</label>
<br>
<br>
<% if (bdmembers.length) { %>
    <table>
      <thead>
        <tr>
            <th>Name</th>
          <th>Title</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>
        <% bdmembers.forEach(function(m) { %>
          <tr id="members">
            <td><%= m.name %></td>
            <td><%= m.title %></td>
            <td><%= m.company %></td>
            <td><form action="/bdmembers/<%= m.id %>?_method=DELETE" method="POST">
            <button type = "submit">Delete</button>
          </form></td>
          <td><a href="/bdmembers/<%= m.id %>/edit" method="GET">UPDATE</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Board Members</h5>
  <% } %>
</div>
<br>
</iframe>
<br>
<div id="npreviews">
<br><label>REVIEWS</label>
<br>
<br>
<% if (reviews.length) { %>
  <table>
    <thead>
      <tr>
          <th>Name</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      <% reviews.forEach(function(r) { %>
        <tr>
          <td id="review"><%= r.name %></td>
          <td id="review"><%= r.review %></td>
          <td><form action="/reviews/<%= r.id %>?_method=DELETE" method="POST">
          <button type = "submit">Delete</button>
          </form></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews</h5>
<% } %>
</div>