<%- include('../partials/header') %>

<section id="nonprofit-page">
    <div>Name: </div>
    <div><%= nonprofit.name %></div>
    <div>Contact: </div>
    <div><%= nonprofit.contact %></div>
    <div>Email: </div>
    <div><%= nonprofit.email %></div>
    <div>Address: </div>
    <div><%= nonprofit.address %></div>
    <div>City: </div>
    <div><%= nonprofit.city %></div>
    <div>Location: </div>
    <div><%= nonprofit.location %></div>
    <div>Zip: </div>
    <div><%= nonprofit.zip %></div>
    <div>Phone: </div>
    <div><%= nonprofit.category %></div>
    <div>Guidestar: </div>
    <div><%= nonprofit.guidestar %></div>
    <div>Website: </div>
    <div><%= nonprofit.website %></div>
    <div>Mission Statement: </div>
    <div><%= nonprofit.missionStatement %></div>
    <div>About Us: </div>
    <div><%= nonprofit.aboutUs %></div>
</section>

<form action = "/nonprofits/<%=nonprofit._id%>" method = "POST"></form>
<br>
<%- include('../partials/footer') %>