<%- include('../partials/header') %>

<section id="user-page">
    <div>Name: <%= user.name %></div>
    <div>GoogleId: <%= user.googleId %></div>
    <div>Email: <%= user.email %></div>
</section>

<%- include('../partials/footer') %>