<%- include('../partials/header') %>

<section id="user-page">
    <div>Name: </div>
    <div><%= user.name %></div>
    <div>GoogleId: </div>
    <div><%= user.googleId %></div>
    <div>Email: </div>
    <div><%= user.email %></div>
</section>

<%- include('../partials/footer') %>